@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Merriweather', serif;
}

button{
  cursor: pointer;
}

.container-App{
  width: 100vw;
  height: 92vh;
  background-color: #e5e4e0;
  display: flex;
} 
.LeftContainer{
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

}

.justLeftContainer{
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: #e5e4e0;
}
.RightContainer{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.containerPrompt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.tittle-prompt{
  text-align: center;
}
.GenerarPost span {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.tittle-prompt h1{
  font-size: 2rem;
  color: #373a32;
  margin: 6px;
}

.tittle-prompt h4{
  height: 10%;
  font-size: 0.7rem;
  color: #686a66;
  font-weight: 700;
  margin: 0px;
}

.box-prompt{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-input-prompt{
  background: white;
  padding: 10px;
  width: 40vw;
  border-radius: 10px;
  margin-top: 35px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.container-input-prompt textarea{
  width: 100%;
  border: 1px solid #a9a9a947;
  border-radius: 10px;
  text-align: left;
  vertical-align: top;
  resize: none;
  background-color: #f9fafb;
  padding: 10px 15px 0px 15px;
  box-sizing: border-box;
  min-height: 10vh;
}


.container-input-prompt h4{
  margin:5px 5px 5px 0px;
}


.box-tittle h4{
  color: #686a66;
  font-size: 0.8rem;
}
.box-textarea{
  width: 100%;
  box-sizing: border-box;
}
.GenerarPost{
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #5d6244;
  background: #5d6244;
  color: white;
}
.subirPost{
  width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5d6244;
    background: #5d6244;
    color: white;
}

.container-App.auto-height {
  height: auto;
}

.container-App.none-height {
  height: none;
}


@media screen and (max-width: 1000px) {

  .container-App{
    flex-direction: column;
    gap:20px;
  }

  .LeftContainer, .justLeftContainer,.RightContainer{
    width: 100%;
    background-color: transparent;
    box-shadow: none;
  }
  .container-input-prompt {
    min-width: 360px;
}


}
