/* Estilos para el Navbar */
.navbar {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;

  }
  
  .logo {
    display: flex;
    gap:7px;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar-menu li {
    position: relative;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .navbar-menu a:hover {
    color: #007bff;
  }
  
  .dropdown-icon {
    font-size: 0.8rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
  }
  
  .user-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  