.property-card {
    width: 350px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: 50vh;
  }
  
  .property-image-container {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: #e2e8f0;
  }
  
  .property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .property-status {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #464942;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
  }
  
  .property-info {
    padding: 16px;
    background-color:#d3dcdc;
    height: 40%;
  }
  
  .property-price {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 10px 0px;
    }
  
  .property-title {
    font-size: 16px;
    color: black;
    margin: 21px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .property-buttons{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 15px;
    }

    .property-buttons button{
      margin: 0px;
      font-size: 23px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      border-radius: 5px;
      font-weight: 800;
    }
    .Edit-Property, .my-confirm-btn{
      background-color: #FFF1E4;
      color: #EA6F07;
    }
    .Delete-Property, .my-cancel-btn{
      background-color: #FFD3E2;
      color: #CA0045;
    }
    .my-popup{
      border-radius: 20px;
    }
  
  .property-details {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color:black ;
    margin: 10px 0px;
    }
  .property-details  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  
  .property-location {
    font-size: 14px;
    color: #888;
    margin: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .property-title button{
    padding: 9px 26px;
    border-radius: 7px;
    border: 2px solid #5d6244;
    background: #5d6244;
    color: white;
  }
  

  @media screen and (max-width: 420px) {
    
    .property-card{
      width: 360px;
    }
}

