/* 🔹 Contenedor de Servicios */
.servicios-container {
    padding: 50px 20px; 
    margin: 0 auto; 
    background-color:#d3dcdc;
    font-family: 'Playfair Display', serif;
    color: #393f3a;
    text-align: center;
}


/* 🔹 Título */
.servicios-title {
    font-size: 2.5rem;
    margin:0px;
    color: #393f3a;
    
}
.servicio-list{
    border: 1px solid;
    width: 13vw;
    padding: 26px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 17vh;
    justify-content: center;
}

/* 🔹 Subtítulo */
.servicios-subtitle {
    font-size: 1.2rem;
    color: #D5C5A0;
    font-style: italic;
    margin-bottom: 20px;
}

/* 🔹 Contenedor de las tarjetas */
.servicios-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 5vh 14vw;
    max-width: 100%; /* ✅ permite todo el ancho disponible */
}


/* 🔹 Tarjetas */
.servicio-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 10px 30px;
    border-radius: 0px;
    border-left: 4px solid #F4E1C1;
    width: 130px; /* 🔹 Ajusté el ancho */
    text-align: left;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 1rem;
}

.servicio-item:hover {
    background: rgba(255, 255, 255, 0.18);
}

/* 🔹 Contenido desplegable */
.servicio-content {
    
}

/* 🔹 Mostrar contenido */
.servicio-item.active .servicio-content {
    max-height: 100px;
    opacity: 1;
}


/* 🔹 Logo en cada tarjeta */
.servicio-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .servicio-logo svg {
    color: #393f3a;
    font-size: 30px;
  }
  



/* 🔹 Responsive */
@media (max-width: 768px) {
    .servicios-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicio-item {
        width: 45%; /* 🔹 Ajusta para que haya dos elementos por fila */
    }
}
