.social-buttons {
  position: fixed;
  right: 20px;
  bottom: 33vh;
  transform: translateY(0%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.social-button {
  background-color: rgba(255, 255, 255, 0.75); /* fondo semitransparente */
  backdrop-filter: blur(6px); /* desenfoque */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.social-button svg {
  color: #2C3A24; /* ícono verde oscuro que resalta */
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 12px rgba(44, 58, 36, 0.4);
}


/* Medios de consulta para pantallas pequeñas */
@media (max-width: 768px) {
  .social-buttons {
    right: 10px; /* Ajusta la posición en pantallas pequeñas */
    bottom: 10vh; /* Cambia la posición vertical en pantallas pequeñas */
  }

  /* Reduce el tamaño de los botones en pantallas más pequeñas */
  .social-buttons .social-button {
    width: 50px;
    height: 50px;
  }

  .social-buttons .social-button svg {
    font-size: 25px; /* Ajusta el tamaño de los íconos */
  }
}

@media (max-width: 480px) {
  .social-buttons {
    right: 10px; /* Asegura que se mantengan en la pantalla */
    bottom: 10vh; /* Ajusta la distancia desde la parte inferior */
  }

  .social-buttons .social-button {
    width: 45px; /* Tamaño más pequeño */
    height: 45px; /* Tamaño más pequeño */
  }

  .social-buttons .social-button svg {
    font-size: 20px; /* Aumenta aún más la responsividad de los íconos */
  }
}
