@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-container {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 52px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 10px solid black;
    min-height: 77vh;
    position: relative;
    overflow: hidden
  }
  
  .post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-info {
    margin-left: 10px;
  }
  
  .username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
  }
  
  .post-type {
    font-size: 12px;
    color: gray;
    margin-top: 1px;
  }
  
  .options {
    margin-left: auto;
    font-size: 20px;
  }
  
  .post-image-container {
    background: #f0f0f0;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .no-image {
    text-align: center;
    color: gray;
  }
  
  .icon {
    font-size: 30px;
  }
  
  .post-footer {
    padding: 10px;
  }
  
  .post-icons {
    display: flex;
    font-size: 20px;
  }
  
  .save-icon {
    margin-left: auto;
  }
  
  .post-caption {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .caption-username {
    font-weight: bold;
  }
  .containerIcoInstagram{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 12px;
  }
  .post-icons span{
    font-size: 25px;
  }
  .notch{
    width: 40%;
    height: 26px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    top: -10px;
  }